<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
    <title>WSI Workshop</title>
    
<link rel="stylesheet" href="../intro/css/main.css"/>
<link rel="stylesheet" href="../intro/css/box.css"/>
<style>
  :root { 
  --splashcolor: #646405;
  --dark_bg: #800420;
  --colorpop: #646405;
  --lightsplash: #64640522;
}
</style>
</head>

<body>
<!-- Top instructions -->
<div id="topinfo"></div>
<!-- footer instructions -->
<div id="info">
    <p><a href="http://standardista.com">Estelle Weyl</a> | <a href="http://twitter.com/estellevw">@estellevw</a> | <a href="http://github.com/estelle">Github</a> | Press <span class="key">&rarr;</span> key to advance.</p>
</div>

  <div id="presentation">
   <div id="presentation-counter"></div>
   <div id="slides">

<div class="slide intro">
     <header>
      <h1>CSS Layout</h1>
     </header>
     <section>
     <p><a href="https://estelle.github.io/wsi/layout/">estelle.github.io/wsi/layout/</a></p>
   </section>
    </div>

    <div class="slide intro">
      <header>
       <h1>What you should know...</h1>
      </header>
      <section>
    <ul>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context">Block formatting context</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model">Box model</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block">Containing block</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_mode">Layout mode</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing">Margin collapsing</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element">Replaced elements</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context">Stacking context</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Visual_formatting_model">Visual formatting model</a></li>
     </ul>
    </section>
  </div>


  <div class="slide intro">
    <header>
     <h1>What we're covering...</h1>
    </header>
    <section>
    <ul>
      <ol>
        
<li><a href="../boxmodel/index.html">Box Model</a>
          <ul>
            <li>box-model properties</li>
            <li>stacking context</li>
            <li>other properties impacting sizing</li>
            <li>properties to consider that don't impact size</li>
          </ul>
        </li>
        <li><a href="../flexbox/index.html">Flexbox</a></li>
        <li><a href="../grid/index.html">Grids</a></li>
      </ol>
    </ul>
  </section>
</div>

<
<div class="slide dots">
  <header>
    <h1>Table of Content</h1>
  </header>
  <section>
    <ol>
<li><a href="../intro/index.html">Introduction</a></li>
<li><a href="../boxmodel/index.html">Box Model</a></li>
<li><a href="../flexbox/index.html">Flexbox</a></li>
<li><a href="../grid/index.html">Grids</a></li>
    <li><a href="../selectors/index.html">Selectors</a></li>
    <li><a href="../selectors/specificity.html">Specificity</a></li>
    <li><a href="../form/index.html">forms</a></li>

<p></ol>
  </section>
</div>

   </div>


</div>
<header>
    <nav>
        <ul>
            <li><button class="button cancel" id="back">&laquo; Back</button></li>
            <li><button class="button done" id="next">Next &raquo; </button></li>
        </ul>
    </nav>
</header>
<script src="../slideshow.js"></script>
  </body>

</html>

